.league-schedule-container {
  background-color: white;
  max-width: 960px;
  margin: 0 auto;
  border-radius: 25px;
  padding: 20px;
}

.league-schedule-game {
  border-top: #dcdddf 1px dotted;
  padding: 5px;
  text-align: center;

  img {
    width: 15px;
  }
}

.league-schedule-header {
  padding-bottom: 20px;
}

a {
  color: blue;
  font-family: helvetica;
  text-decoration: none;
}

a:active {
  color: blue;
}

a:visited {
  color: blue;
}

a:hover {
  text-decoration: underline;
  font-weight: bold;
}